html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	/*padding: 15px 15px 15px 15px;*/
}
#map-canvas {
	height: 100%;
}
#iw_container .iw_title {
	  font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 0px;
    background: #e60073;
    color: white;
    margin: 0;
    border-radius: 4px 4px 4px 4px;
}
.iw_content {
	padding: 15px 15px 15px 0;
	background-color: #fff;
}

#icon {
	
    max-width:20%;
    height: 30%;
}
